<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <nav class='nav navbar-nav navbar-left' >
        <div class="b">Bookers</div>
      </nav>
      <nav>
      <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><%= link_to "Home", user_path(current_user.id) %></a></li>
        <li><%= link_to "Users", "/users" %></a></li>
        <li><%= link_to "Books", books_path %></a></li>
        <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", home_about_path %></li>
        <li><%= link_to "sign up", new_user_registration_path %></li>
        <li><%= link_to "login", new_user_session_path %></li>
      <% end %>
      </ul>
      </nav>
    </div>
    <%= yield %>
  </body>
</html>
